body {
  background-color: #FAD5CB;
}

.up-container {
  display: flex;

  &__first {
    background-color: red;
    height: 10vh;
    @include for-size (tablet-portrait-up) {
      font-size: 24px;
      height: 20vh;
    }
    @include for-size (big-desktop-up) {
      height: 30vh;
    }
  }

  &__second {
    height: 20vh;
    background-color: blue;
    @include for-size (tablet-portrait-up) {
      height: 50vh;
    }
  }
}

.middle-container {
  display: flex;


  &__first {
    position: relative;
    margin-top: -5vh;
    height: 30vh;
    background-color: yellow;
  }
  &__second {
    height: 20vh;
    background-color: orange;
  }
}
